<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.irdstudio.smcenter.console.dao.PluginDatapackConfDao">

	<resultMap type="com.irdstudio.smcenter.console.dao.domain.PluginDatapackConf" id="pluginDatapackConfList">
		<result property="pluginConfId" column="plugin_conf_id"/>
		<result property="confSort" column="conf_sort"/>
		<result property="packDesc" column="pack_desc"/>
		<result property="packConfigFile" column="pack_config_file"/>
		<result property="packFileEncoding" column="pack_file_encoding"/>
		<result property="packFileType" column="pack_file_type"/>
		<result property="packGenerateFile" column="pack_generate_file"/>
		<result property="rsvOption" column="rsv_option"/>
		<result property="validDate" column="valid_date"/>
		<result property="invalidDate" column="invalid_date"/>
		<result property="lastModifyDate" column="last_modify_date"/>
	</resultMap>
  
  <sql id="Base_Column_List">
  	plugin_conf_id,conf_sort,pack_desc,pack_config_file,pack_file_encoding,pack_file_type,pack_generate_file,rsv_option,valid_date,invalid_date,last_modify_date
  </sql>
  
  <select id="queryByPk" resultMap="pluginDatapackConfList" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginDatapackConf">
		SELECT 
			<include refid="Base_Column_List"/>
		 FROM plugin_datapack_conf where 
				plugin_conf_id = #{pluginConfId}
				 and conf_sort = #{confSort}
	</select>
  
  <update id="updateByPk" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginDatapackConf">
  		update plugin_datapack_conf 
		<trim prefix="set" suffixOverrides=",">
	<if test="packDesc!=null and packDesc!=''">pack_desc=#{packDesc},</if>
	<if test="packConfigFile!=null and packConfigFile!=''">pack_config_file=#{packConfigFile},</if>
	<if test="packFileEncoding!=null and packFileEncoding!=''">pack_file_encoding=#{packFileEncoding},</if>
	<if test="packFileType!=null and packFileType!=''">pack_file_type=#{packFileType},</if>
	<if test="packGenerateFile!=null and packGenerateFile!=''">pack_generate_file=#{packGenerateFile},</if>
	<if test="rsvOption!=null and rsvOption!=''">rsv_option=#{rsvOption},</if>
	<if test="validDate!=null and validDate!=''">valid_date=#{validDate},</if>
	<if test="invalidDate!=null and invalidDate!=''">invalid_date=#{invalidDate},</if>
	<if test="lastModifyDate!=null and lastModifyDate!=''">last_modify_date=#{lastModifyDate},</if>
		</trim>
  		 where 
				plugin_conf_id = #{pluginConfId}
				 and conf_sort = #{confSort}
  </update>
  
  <delete id="deleteByPk" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginDatapackConf">
  	delete from plugin_datapack_conf where 
					plugin_conf_id = #{pluginConfId}
					 and conf_sort = #{confSort}
  </delete>
  	
  	<insert id="insertPluginDatapackConf" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginDatapackConf">
  		insert into plugin_datapack_conf(
				plugin_conf_id,
							conf_sort,
							pack_desc,
							pack_config_file,
							pack_file_encoding,
							pack_file_type,
							pack_generate_file,
							rsv_option,
							valid_date,
							invalid_date,
							last_modify_date
			)
  			values(
  		#{pluginConfId},
  		  		#{confSort},
  		  		#{packDesc},
  		  		#{packConfigFile},
  		  		#{packFileEncoding},
  		  		#{packFileType},
  		  		#{packGenerateFile},
  		  		#{rsvOption},
  		  		#{validDate},
  		  		#{invalidDate},
  		  		#{lastModifyDate}
  		)
  	</insert>
  	
  	<select id="queryAllOwnerByPage" resultMap="pluginDatapackConfList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginDatapackConfVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  	 FROM plugin_datapack_conf WHERE 1=1
			<if test="pluginConfId!=null and ''!=pluginConfId"> AND plugin_conf_id=#{pluginConfId}</if>
			<if test="confSort!=null and ''!=confSort"> AND conf_sort=#{confSort}</if>
			<if test="packDesc!=null and ''!=packDesc"> AND pack_desc=#{packDesc}</if>
			<if test="packConfigFile!=null and ''!=packConfigFile"> AND pack_config_file=#{packConfigFile}</if>
			<if test="packFileEncoding!=null and ''!=packFileEncoding"> AND pack_file_encoding=#{packFileEncoding}</if>
			<if test="packFileType!=null and ''!=packFileType"> AND pack_file_type=#{packFileType}</if>
			<if test="packGenerateFile!=null and ''!=packGenerateFile"> AND pack_generate_file=#{packGenerateFile}</if>
			<if test="rsvOption!=null and ''!=rsvOption"> AND rsv_option=#{rsvOption}</if>
			<if test="validDate!=null and ''!=validDate"> AND valid_date=#{validDate}</if>
			<if test="invalidDate!=null and ''!=invalidDate"> AND invalid_date=#{invalidDate}</if>
			<if test="lastModifyDate!=null and ''!=lastModifyDate"> AND last_modify_date=#{lastModifyDate}</if>
  	</select>
  	
  	<select id="queryAllCurrOrgByPage" resultMap="pluginDatapackConfList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginDatapackConfVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  	 FROM plugin_datapack_conf WHERE INPUT_BR_ID = #{loginUserOrgCode}
  	</select>
  
  	<select id="queryAllCurrDownOrgByPage" resultMap="pluginDatapackConfList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginDatapackConfVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  		FROM plugin_datapack_conf O WHERE EXISTS (SELECT 1 FROM s_org S WHERE S.LOCATION Like '%${loginUserOrgLocation}%' AND S.ORG_CODE = O.INPUT_BR_ID)
  	</select>
  
</mapper>
