<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.irdstudio.smcenter.console.dao.PluginWtConditionDao">

	<resultMap type="com.irdstudio.smcenter.console.dao.domain.PluginWtCondition" id="pluginWtConditionList">
		<result property="pluginConfId" column="plugin_conf_id"/>
		<result property="confSort" column="conf_sort"/>
		<result property="checkItemName" column="check_item_name"/>
		<result property="checkItemSql" column="check_item_sql"/>
		<result property="checkSucCondition" column="check_suc_condition"/>
		<result property="validDate" column="valid_date"/>
		<result property="invalidDate" column="invalid_date"/>
		<result property="lastModifyDate" column="last_modify_date"/>
	</resultMap>
  
  <sql id="Base_Column_List">
  	plugin_conf_id,conf_sort,check_item_name,check_item_sql,check_suc_condition,valid_date,invalid_date,last_modify_date
  </sql>
  
  <select id="queryByPk" resultMap="pluginWtConditionList" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginWtCondition">
		SELECT 
			<include refid="Base_Column_List"/>
		 FROM plugin_wt_condition where 
				plugin_conf_id = #{pluginConfId}
				 and conf_sort = #{confSort}
	</select>
  
  <update id="updateByPk" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginWtCondition">
  		update plugin_wt_condition 
		<trim prefix="set" suffixOverrides=",">
	<if test="checkItemName!=null and checkItemName!=''">check_item_name=#{checkItemName},</if>
	<if test="checkItemSql!=null and checkItemSql!=''">check_item_sql=#{checkItemSql},</if>
	<if test="checkSucCondition!=null and checkSucCondition!=''">check_suc_condition=#{checkSucCondition},</if>
	<if test="validDate!=null and validDate!=''">valid_date=#{validDate},</if>
	<if test="invalidDate!=null and invalidDate!=''">invalid_date=#{invalidDate},</if>
	<if test="lastModifyDate!=null and lastModifyDate!=''">last_modify_date=#{lastModifyDate},</if>
		</trim>
  		 where 
				plugin_conf_id = #{pluginConfId}
				 and conf_sort = #{confSort}
  </update>
  
  <delete id="deleteByPk" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginWtCondition">
  	delete from plugin_wt_condition where 
					plugin_conf_id = #{pluginConfId}
					 and conf_sort = #{confSort}
  </delete>
  	
  	<insert id="insertPluginWtCondition" parameterType="com.irdstudio.smcenter.console.dao.domain.PluginWtCondition">
  		insert into plugin_wt_condition(
				plugin_conf_id,
							conf_sort,
							check_item_name,
							check_item_sql,
							check_suc_condition,
							valid_date,
							invalid_date,
							last_modify_date
			)
  			values(
  		#{pluginConfId},
  		  		#{confSort},
  		  		#{checkItemName},
  		  		#{checkItemSql},
  		  		#{checkSucCondition},
  		  		#{validDate},
  		  		#{invalidDate},
  		  		#{lastModifyDate}
  		)
  	</insert>
  	
  	<select id="queryAllOwnerByPage" resultMap="pluginWtConditionList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginWtConditionVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  	 FROM plugin_wt_condition WHERE 1=1
			<if test="pluginConfId!=null and ''!=pluginConfId"> AND plugin_conf_id=#{pluginConfId}</if>
			<if test="confSort!=null and ''!=confSort"> AND conf_sort=#{confSort}</if>
			<if test="checkItemName!=null and ''!=checkItemName"> AND check_item_name=#{checkItemName}</if>
			<if test="checkItemSql!=null and ''!=checkItemSql"> AND check_item_sql=#{checkItemSql}</if>
			<if test="checkSucCondition!=null and ''!=checkSucCondition"> AND check_suc_condition=#{checkSucCondition}</if>
			<if test="validDate!=null and ''!=validDate"> AND valid_date=#{validDate}</if>
			<if test="invalidDate!=null and ''!=invalidDate"> AND invalid_date=#{invalidDate}</if>
			<if test="lastModifyDate!=null and ''!=lastModifyDate"> AND last_modify_date=#{lastModifyDate}</if>
  	</select>
  	
  	<select id="queryAllCurrOrgByPage" resultMap="pluginWtConditionList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginWtConditionVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  	 FROM plugin_wt_condition WHERE INPUT_BR_ID = #{loginUserOrgCode}
  	</select>
  
  	<select id="queryAllCurrDownOrgByPage" resultMap="pluginWtConditionList"  parameterType="com.irdstudio.smcenter.console.service.vo.PluginWtConditionVO">
	  	SELECT 
	  	<include refid="Base_Column_List"/>
	  		FROM plugin_wt_condition O WHERE EXISTS (SELECT 1 FROM s_org S WHERE S.LOCATION Like '%${loginUserOrgLocation}%' AND S.ORG_CODE = O.INPUT_BR_ID)
  	</select>
  
</mapper>
